.app.dark {
    --bg-color: #030318;
    --inverted-bg-color: #dcdcdc;
    --primary-color: #1ec21e;
    --secondary-color: #0a670a;
    --inverted-primary-color: #0321c4;
    --inverted-secondary-color:
        #651515
;
}
