.app.light {
    --bg-color: #dcdcdc;
    --inverted-bg-color: #030318;
    --primary-color: #0321c4;
    --secondary-color: #651515;
    --inverted-primary-color: #1ec21e;
    --inverted-secondary-color:
        #0a670a
;
}
