:root {
    --bg-color: #fff;
    --light-color: #E9E6E1;
    --focus-color: #333;
    --placeholder-color: #b7acac;
    --inverted-bg-color: #181C22;;
    --primary-color: #FFBC5A;;
    --secondary-color: #F39103;;
    --inverted-primary-color: #a3a3a3;
    --inverted-secondary-color: #0b1f0b;
}
